body {
  text-align: center;
  margin: 40px;
  padding: 40px;
  max-width: 100%;
  background-color: #AFEEEE;
  border-style: solid;
  border-color: #00CED1;

}

img {
  width: 200px;
  padding:20px;
}
html {
  background-color: #48D1CC;
}
